@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather:900');

body { width: 100vw; height: 100vh; position: relative; }
div#work {
	width:calc(100% / 3 * 2);
	height: 100%;
	float: left;
	z-index: 1;
}
div#profile {
	width:calc(100% / 3);
	height: 100%;
	float: left;
	z-index: 99;
}
div#work div{
	width:100%;
	height:50%;
	text-align: center;
}
div#work span{
	font-family: 'Merriweather', serif;
	font-size: 10vh;
	text-align: center;
	line-height: 50vh;
	letter-spacing: 0.3em;
}

div.text{
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}
div.text span{
	width: 100%;
	height: auto;
	float: left;
	font-family: 'Inconsolata', monospace;
	line-height: 150%;
}
.text span.name{font-weight: bold;}
.text span.job{margin-top: 20px;}
.text span.detail{margin-top: 60px;}

.design{
	background: #000 url(../image/design-header.jpg) no-repeat 0 0 / cover;
	opacity: 1;
	transition: all 1s;
	animation-timing-function: ease-in-out;
}
.design:hover{
	opacity: 0.75;
	transition: all 1s;
	animation-timing-function: ease-in-out;
}
.design span.titleD{
	mix-blend-mode:exclusion;
	color: #FFFFFF;
	transition: all 1s;
	animation-timing-function: ease-in-out;
}
.design:hover span{
	color:#555;
	transition: all 1s;
	animation-timing-function: ease-in-out;
}

.video{
	background: #2F2C2C url(../image/rampagefilming.jpg) no-repeat 0 0 / cover;
}
.video span.titleV{
	color: #63FFC6;
}
.q_menu {
	width: 50px;
	height : 202px;
	position: fixed;
	top : -160px;
	right : 10px;
	background: url(../image/quickmenu.svg) no-repeat;
	transition: all 1s;
}

.q_menu:hover{
	top: -50px;
	transition: all 1s;
}
